body {
    background-image: url("../images/background1.jpg");
    background-size: 1000px;
    font-family: 'Ubuntu', sans-serif;
    color: chartreuse;
    
}
.imagearea {
    height: 200px;
}

#charImage {
    width: 200px;
    color: black;
    text-align: center;
}
#charImage:hover {
    color: blue;
    background-color: lightgrey
}
button {
    font-size: 24px;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: magenta;
    font-weight: bold;
    border: 3px solid black;
}
button:hover {
    background-color: rgb(255,0,85);
    border: 3px solid blue;
}