body {
    background-image: url("../images/background1.jpg");
    background-size: 1000px;
    font-family: 'Ubuntu', sans-serif;
    color: chartreuse;
    text-align: center;
}
.imagearea {
    height: 150px;
}
.char-box {
    border: 2px solid chartreuse;
    
}